<%= form_for(@ability_matrix) do |f| %>
  <% if @ability_matrix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ability_matrix.errors.count, "error") %> prohibited this ability_matrix from being saved:</h2>

      <ul>
      <% @ability_matrix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
