<p id="notice"><%= notice %></p>

<%# @notification.to_json %>
<div class="row">
	<div class="col-md-6">
		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title smaller grey">Notification</h4>
			</div>
			<div class="widget-body">
					<div class="widget-main">
						<dl id="dt-list-1" class="dl-horizontal">
							<dt class="grey">Title</dt>
							<dd><%= @notification.title %></dd>
							<dt class="grey">Description</dt>
							<dd><%= @notification.description %></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'Back', notifications_path, :class =>"btn btn-primary" %>
	</div>
</div>
