<p id="notice"><%= notice %></p>


<div class="col-xs-12 col-sm-6 widget-container-col">
										<div class="widget-box widget-color-pink">
											<div class="widget-header">
												<h5 class="widget-title">Bottom Toolbox (Footer)</h5>

												<div class="widget-toolbar">
													<a href="#" data-action="collapse">
														<i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
													</a>
												</div>

												<div class="widget-toolbar no-border">
													<button class="btn btn-xs btn-light bigger">
														<i class="ace-icon fa fa-arrow-left"></i>
														Prev
													</button>

													<button class="btn btn-xs bigger btn-yellow dropdown-toggle" data-toggle="dropdown">
														Next
														<i class="ace-icon fa fa-chevron-down icon-on-right"></i>
													</button>

													<ul class="dropdown-menu dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
														<li>
															<a href="#">Action</a>
														</li>

														<li>
															<a href="#">Another action</a>
														</li>

														<li>
															<a href="#">Something else here</a>
														</li>

														<li class="divider"></li>

														<li>
															<a href="#">Separated link</a>
														</li>
													</ul>
												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<p class="alert alert-info">
														Nunc aliquam enim ut arcu aliquet adipiscing. Fusce dignissim volutpat justo non consectetur. Nulla fringilla eleifend consectetur.
													</p>
													<p class="alert alert-success">
														Raw denim you probably haven't heard of them jean shorts Austin.
													</p>
												</div>

												<div class="widget-toolbox padding-8 clearfix">
													<button class="btn btn-xs btn-danger pull-left">
														<i class="ace-icon fa fa-times"></i>
														<span class="bigger-110">I don't accept</span>
													</button>

													<button class="btn btn-xs btn-success pull-right">
														<span class="bigger-110">I accept</span>

														<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
		



<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
