<div class="row-fluid">
  <div class="span8">
    <img src="assets/codeHR2.jpg" alt=""/>
  </div>
  <div class="span4">
    <h1>CodeHR</h1>
    <h4><li>Intuitive software</li></h4>
    <h4><li>Email integration</li></h4>
    <h4><li>Flexible reporting</li></h4>
    <h4><li>Effortless customisation</li></h4>

  </div>
</div>

<!--<p>We are soon enabling the Dream List of a HR automation system:-</p>-->


