<%= form_for @generic, :html => { :multipart => true } do |f| %>
  <input type="hidden" name="step" value="<%= @step_instance[:id] %>">
  <div class="row">
    <div class="col-md-12">
      <div id="form-holder">


      </div>
    </div>
  </div>

  <div class="space-12"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit 'Submit Form', :class => 'btn btn-primary' %>
        <%= link_to 'Back', generics_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<script>

  function buildForm() {
    // var form = gon.form.html;
    var form = [
      {type: "<div />", attributes: {class: "row"}, children:[
        {type: "<div />", attributes: {class: "col-md-12"}, children: [

          {type: "<div />", attributes: {class: "row"}, children: [
            {type: "<div />", attributes: {class: "col-md-6"}, children: [
              {type: "<div />", attributes: {class:"row"}, children: [
                {type: "<div />", attributes: {class:"form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-3 control-label no-padding-right", name: "labels[code]"}},
                  {type: "<input />", attributes: {class: "col-md-7 placeholder-code", type: "text", name: "form[code]"}}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "col-md-6"}, children: [
              {type: "<div />", attributes: {class:"row"}, children: [
                {type: "<div />", attributes: {class:"form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-3 control-label no-padding-right", name: "labels[name]"}},
                  {type: "<input />", attributes: {class: "col-md-7 placeholder-name", type: "text", name: "form[name]"}}
                ]}
              ]}
            ]}
          ]},

          {type: "<div />", attributes: {class: "space-12"}},

          {type: "<div />", attributes: {class: "row"}, children: [
            {type: "<div />", attributes: {class: "col-md-6"}, children: [
              {type: "<div />", attributes: {class:"row"}, children: [
                {type: "<div />", attributes: {class:"form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-3 control-label no-padding-right", name: "labels[file]"}},
                  {type: "<div />", attributes: {class: "col-md-7 no-padding-right no-padding-left"}, children: [
                    {type: "<input />", attributes: {class: "ace-file-input", type: "file", name: "files[file]"}}
                  ]}
                ]}
              ]}
            ]},
            {type: "<div />", attributes: {class: "col-md-6"}, children: [
              {type: "<div />", attributes: {class:"row"}, children: [
                {type: "<div />", attributes: {class:"form-group"}, children: [
                  {type: "<label />", attributes: {class: "col-md-3 control-label no-padding-right", name: "labels[version_controlled]"}},
                  {type: "<div />", attributes: {class: "col-md-7 no-padding-right no-padding-left"}, children: [
                    {type: "<label />", attributes: {}, children: [
                      {type: "<input />", attributes: {class: "ace ace-switch ace-switch-6", type: "checkbox", name: "form[version_controlled]"}},
                      {type: "<span />", attributes: {class: "lbl"}}
                    ]}
                  ]}
                ]}
              ]}
            ]}
          ]}

        ]}
      ]}
    ];
    initHTMLAppender($("#form-holder"), form)
    addFormLabels();
    addPlaceholders();

    $('.ace-file-input').ace_file_input({
      no_file:'No File ...',
      btn_choose:'Choose',
      btn_change:'Change',
      droppable:false,
      onchange:null,
      thumbnail:false
    }); 
    
    $('.chosen-select').chosen(); 
    $('.chosen-container').css('width','99.5%');
  }

  function addFormLabels() {
    var labels = gon.form.labels;
    for(var key in labels) {
      $("[name='labels["+key+"]']").html(labels[key]);
    }
  }

  function addPlaceholders() {
    var labels = gon.form.labels;
    for(var key in labels) {
      $(".placeholder-"+key).attr('placeholder', labels[key]);
    }
  }

  buildForm();
    

</script>
