<h1><%= @form_title %></h1>
<br>
<%= render 'form' %>

<script>
	function addAceFormEffects() {
	  $('.ace-file-input').ace_file_input({
	    no_file:'No File ...',
	    btn_choose:'Choose',
	    btn_change:'Change',
	    droppable:false,
	    onchange:null,
	    thumbnail:false
	  }); 
	  
	  $('.chosen-select').chosen(); 
	  $('.chosen-container').css('width','99.5%');
	  $('.date-picker').datepicker({
	    autoclose: true,
	    todayHighlight: true
	  })
	  //show datepicker when clicking on the icon
	  .next().on(ace.click_event, function(){
	    $(this).prev().focus();
	  });
	  $('textarea[class*=autosize]').autosize({append: "\n"});
	}

	addAceFormEffects();
</script>