<%= form_for(@approver) do |f| %>
  <% if @approver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approver.errors.count, "error") %> prohibited this approver from being saved:</h2>

      <ul>
      <% @approver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
